body {
    background-color: rgb(245, 207, 227);
    font-style:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  }    
.custom-navbar {
    background-color:rgb(245, 63, 163);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.custom-navbar .nav-link {
    color:white;
    }
.custom-navbar .nav-link:hover {
    color:gray; 
    } 
.custom-navbar .nav-link:active {
    color:black;
    }
ul {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
  }
.row {
  margin-left: 0;
  margin-right: 0;
}
.carousel-item img {
  border-radius: 15px;
  }
.btn-dark {
  background-color:rgb(190, 20, 233);
  border: none;
  }
  .btn-dark:hover {
    background-color: rgb(160, 112, 170);
    }
img {
  border-radius: 15px;
}
.vinkki-kupla {
  border: 2px solid #8d316e;
  max-width: 550px;
  border-radius: 20px;
  }
.table {
  border: 2px solid #8d316e;
  border-radius: 20px;
} 
