body {
    background-color:#feeded;
    font-style:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  } 
.oma-footer {
  color:black;
  background-color:rgb(251, 142, 200);
   } 
.navbar {
  background-image: url("images/banneri1.jpg");
  padding:20px;
  }      
.custom-navbar {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.custom-navbar .nav-link {
    color:rgb(83, 83, 83);
    }
.custom-navbar .nav-link:hover {
    color:rgb(223, 222, 222); 
    } 
.custom-navbar .nav-link:active {
    color:black;
    }
ul {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
  }
.row {
  margin-left: 0;
  margin-right: 0;
}
.carousel-item img {
  border-radius: 15px;
  }
.btn-dark {
  background-color:rgb(190, 20, 233);
  border: none;
  }
  .btn-dark:hover {
    background-color: rgb(160, 112, 170);
    }
img {
  border-radius: 15px;
}
.vinkki-kupla {
  border: 2px solid #8d316e;
  max-width: 550px;
  border-radius: 15px;
  }
.table {
  border: 2px solid #8d316e;
  border-radius: 15px;
} 
.flex-container {
    display: flex;
    justify-content: space-around;
  }
.box {
  background-color: rgb(250, 189, 198);
  padding: 15px;
  min-height: 180px;
  max-width: 550px;
  }